@import url('https://fonts.cdnfonts.com/css/cascadia-code');

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
    background: rgb(143, 118, 212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-height: 7%;
    min-width: 100%;

    background-color: black;
}

header a {
    color: rgb(170, 170, 255);
}

header a:hover {
    opacity: 0.7;
}

main {
    display: flex;
    flex-direction: row;

    min-height: 86%;
    min-width: 100%;


    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(143,118,212,1) 50%, rgba(148,187,233,1) 100%);
        background-size: 400% 400%;
        animation: gradient 7.5s ease infinite;

    backdrop-filter: blur(8px);
    overflow:scroll;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-height: 7%;
    min-width: 100%;
    
    background-color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(170, 170, 255);
  }
  
  .fa:hover {
    opacity: 0.5;
}
